<!DOCTYPE html>
<html lang="en">
  <%- include("../common/header") %>
  <body>
    <%- include("../common/navbar") %>

    <div class="content list-page">
      <div class="item-header">
        <h1><%=title%></h1>
        <div>
          <a href="/para-entities/form">Insert Entity data</a>
        </div>
      </div>
      <ul class="item-list">
        <% entities.map((entity) => { %> <%- include("entitiesItem",{ entity:
        entity }) %> <% }) %>
      </ul>
    </div>
  </body>
</html>
