<!DOCTYPE html>
<html lang="en">
  <%- include("common/header") %>
  <body>
    <%- include("common/navbar") %>
    <div class="content home-page">
      <h1>The Institute Paranormal Management System (PMS)</h1>
      <h2>Entry point</h2>
    </div>
  </body>
</html>
