<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paranormal Object Management System</title>
  </head>
  <body>
    <%- include("common/navbar") %>
    <h1>The Institute Paranormal Management System (PMS)</h1>
    <h2>Entry point</h2>
  </body>
</html>
