<nav>
  <ul class="nav-bar">
    <a href="/">Home</a>
    |
    <a href="/scientists">Scientists</a>
    |
    <a href="/para-entities">Entities</a>
    |
    <a href="/para-objects">Objects</a>
    |
    <a href="/about">About</a>
    |
    <a href="/login">Login</a>
  </ul>
</nav>
