<nav>
  <ul>
    <a href="/">Home</a>
    |
    <a href="/scientists">Scientists</a>
    |
    <a href="/para-entities">Entities</a>
    |
    <a href="/para-objects">Objects</a>
    |
    <a href="/about">About</a>
  </ul>
</nav>
